.CommentView {
  text-align: center;
  padding: 20px;
  display: inline-block;
  vertical-align: top;
  min-width: 400px;
}

.CommentView > * {
  display: block;
  width: 100%;
}

.CommentView > h3 {
  font-weight: 600;
  font-size: 2rem;
  color: #F44336;
  padding:20px;
  text-transform: uppercase;
}

.CommentView > textarea {
  width: 100%;
  min-height: 100px;
  font-size: 14px;
  margin-top: 50px;
  margin-bottom: 50px;
  box-sizing: border-box;
  border: 1px solid #363636;
  border-radius: 2px;
}

.CommentView > button {
  font-size: 1.2rem;
  margin-top: 10px;
  width: 100%;
  padding: 12px;
  color: white;
  background-color: #363636;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 25px;
  border: none;
  box-shadow: none;
  cursor: pointer;
}

.CommentView > button:hover {
  color: #363636;
  background-color:#F44336;
}

.Button--disabled {
  cursor: default;
  opacity: .7;
}

.Button--disabled:hover {
  cursor: default;  
  opacity: .9;
}
