.App {
  text-align: center;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.App-Content {
  flex: 1;
}

.App-Footer {
  padding: 40px;
  background-color: #363636;
  color: #F44336;
}

.App-Footer > a {
  color: #F44336;
}

.App-Footer > a:hover {
  color: white;
}