.App {
  text-align: center;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.App-Content {
  flex: 1;
}

.App-Footer {
  padding: 40px;
  background-color: #363636;
  color: #F44336;
}

.App-Footer > a {
  color: #F44336;
}

.App-Footer > a:hover {
  color: white;
}

.Home {
  padding: 50px;
  max-width: 600px;
  display: inline-block;
  text-align: left;
  line-height: 1.2;
}

.Home > h2 {
  padding: 10px;
  color: #f44336;
  font-weight: 600;
  font-size: 2rem;
}

.Home > p {
  padding: 10px;
  font-size: 1.3rem;
  border-left: 5px #f44336 solid;
}